# .NET
bin/
obj/
*.user
*.suo
*.cache
*.csproj.user
*.csproj.vspscc
*.pubxml
*.pubxml.user

# Node.js
msal-angular-frontend/node_modules/*
msal-angular-frontend/.angular/*
msal-angular-frontend/.vscode/*
msal-node-backend/node_modules
msal-react-frontend/node_modules/*
dist/
*.log
.env
msal-angular-frontend/.editorconfig
